*{
    background-color: slategrey;      
    margin-left: auto;
    margin-right: auto;      
    text-align: center;
}

/* #menu{
    text-align: center;
} */

#menu a{
    margin: 5px;
    text-decoration: none;
    /* opacity: 0.6; */
    transition: 0.3s;
}

#menu a:hover{
    color: black;
}
